<%- include ("./partials/header") %>
  
<div class="jumbotron container my-4 py-4">
  <h1 class="display-5" style="text-align: center;">Welcome to Blogger</h1>
  <p class="lead" style="text-align: center;">A small blogger where you could post some articles.</p>
</div>

<div class="container my-5 px-5 py-3" style="background-color: white; ">
  <div class="row">
    <div class="col-6">
      <h4 style="text-align: center;">Latest Posts:</h4>
      <% latestPosts.forEach((post) => { %>
        <h5><a href="/<%= post.author %>/blog/post/<%= post.id %>"><%= post.title %></a></h5>
        <h6>Posted by: <a href="/<%= post.author %>/profile"><%= post.author %></a> at <span class="time"><%= post.created_at %></span></h6>
      <% }) %>
    </div>

    <div class="col-6">
      <h4 style="text-align: center;">Today's Hottest:</h4>
      <% hottestPostsToday.forEach((post) => { %>
        <h5><a href="/<%= post.author %>/blog/post/<%= post.id %>"><%= post.title %></a></h5>
        <h6>Posted by: <a href="/<%= post.author %>/profile"><%= post.author %></a> at <span class="time"><%= post.created_at %></span></h6>
      <% }) %>
    </div>
  </div>
</div>

<script>
  let timeLabel = document.querySelectorAll(".time");
  for (let t of timeLabel) {
    let time = new Date(t.innerHTML);
    t.innerHTML = time.toLocaleString('en-US');
  }
</script>

<%- include ("./partials/footer") %>
  