<%- include ("./partials/header") %>
  
<div class="jumbotron container my-4 py-4">
  <h1 class="display-5">Welcome to Blogger</h1>
  <p class="lead">This is a small blogger where you could post some articles.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h4>Latest Posts:</h4>
      <% latestPosts.forEach((post) => { %>
        <h5><a href="/<%= post.author %>/blog/post/<%= post.id %>"><%= post.title %></a></h5>
        <h6>Posted by: <a href="/<%= post.author %>/profile"><%= post.author %></a> at <%= post.created_at.toLocaleDateString() %>, <%= post.created_at.toLocaleTimeString() %></h6>
      <% }) %>
    </div>

    <div class="col-6">
      <h4>Hottest Posts Today:</h4>
      <% hottestPostsToday.forEach((post) => { %>
        <h5><a href="/<%= post.author %>/blog/post/<%= post.id %>"><%= post.title %></a></h5>
        <h6>Posted by: <a href="/<%= post.author %>/profile"><%= post.author %></a> at <%= post.created_at.toLocaleDateString() %>, <%= post.created_at.toLocaleTimeString() %></h6>
      <% }) %>
    </div>
  </div>
</div>

<%- include ("./partials/footer") %>
  