<%- include ("./partials/header") %>

<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-sm-8">
      <h2 style="text-align: center;">Search result</h2>

      <hr>

      <!-- pagination -->
      <div style="margin: 20px 0;">
        <% if(postPagination.page - 1) { %>
          <a href="<%= paginateUrl %><%= postPagination.page - 1 %>">Prev</a>
        <% } %>
        <% if (postPagination.pages > 1) { %>
        <% for(let i = 1; i <= postPagination.pages; i++) { %>
          <a href="<%= paginateUrl %><%= i %>"
            <%= i === postPagination.page ? 'style=color:#000;' : '' %>
            ><%= i %></a>
        <% } %>
        <% } %>
        <% if((postPagination.page + 1) <= postPagination.pages) { %>
          <a href="<%= paginateUrl %><%= postPagination.page + 1 %>">Next</a>
        <% } %>
      </div>

      <% posts.forEach(post => { %>
        <hr>
        <div>
          <h4><a href="/<%= post.author %>/blog/post/<%= post.id %>"><%= post.title %></a></h4>
          <h6><i><a href="/<%= post.author %>/profile"><%= post.author %></a> posted at: <span class="time"><%= post.created_at %></span></i></h6>
          <% let clipped = post.content.replace(/<[^>]*?>/g, ' ').replace(/\s{2,}/g, ' ').trim() %>
          <% let index = clipped.search(re); %>
          <% let start = (index-150) < 0 ? 0 : (index-150); %>
          <% let end = (index+150) > clipped.length ? clipped.length : (index+150); %>
          <% clipped = clipped.slice(start, end).replace(re, '<strong style="color:red;">$&</strong>') %> 
          <% if (start > 0) clipped = "......" + clipped %>
          <% if (end < clipped.length-1) clipped = clipped + "......" %>
          
          <p><%- clipped %></p>
          <h6 style="color: #555555;"><b>Tag: <%= post.tag %> </b></h6>
          <h6>(<a href="/<%= post.author %>/blog/post/<%= post.id %>">Read More</a>)</h6>
        </div>
      <% }); %>

      <script>
        let timeLabel = document.querySelectorAll(".time");
        for (let t of timeLabel) {
          let time = new Date(t.innerHTML);
          t.innerHTML = time.toLocaleString('en-US');
        }
      </script>

      <!-- pagination -->
      <div style="margin: 20px 0;">
        <% if(postPagination.page - 1) { %>
          <a href="<%= paginateUrl %><%= postPagination.page - 1 %>">Prev</a>
        <% } %>
        <% if (postPagination.pages > 1) { %>
        <% for(let i = 1; i <= postPagination.pages; i++) { %>
          <a href="<%= paginateUrl %><%= i %>"
            <%= i === postPagination.page ? 'style=color:#000;' : '' %>
            ><%= i %></a>
        <% } %>
        <% } %>
        <% if((postPagination.page + 1) <= postPagination.pages) { %>
          <a href="<%= paginateUrl %><%= postPagination.page + 1 %>">Next</a>
        <% } %>
      </div>
    </div>
  </div>
</div>

<%- include ("./partials/footer") %>