<%- include ("../partials/header") %>

<div class="container">
  <div>
    <h2><%= owner %> </h2>
  </div>

  <hr>
  <div class="container">
    <form id="avatar" enctype="multipart/form-data" style="display: none;">
      <input type="file" accept="image/*" name="avatar" id="imageFile">
      <button type="submit" class="btn btn-primary">Save Avatar</button>
    </form>
    <div id="avatarDisplay" style="display: block;">
      <img src="<%= avatar %>" alt="avatar" style="height: 100px; width: 100px; overflow: hidden;">
    </div>
  </div>

  <hr>
  <div>
    <h5>About me</h5>
  </div>

  <!-- Create the editor container -->
  <div class="container">
    <form id="aboutMe" style="display: none;">
      <div>
        <input type="hidden" name="aboutMe">
        <div id="editor" style="background-color: white;">
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Save Profile</button>
      </div>
    </form>
    <div id="aboutMeDisplay" style="display: block;">
      <%- about %>
    </div>
  </div>

  <hr>
  <div>
    <h5><a href="/<%= owner %>/blog"><%= owner %>'s Blog</a></h5>
  </div>

  <hr>
  <% if(user === owner) { %>
    <button style="display: inline;" id="EditBtn" class="btn btn-primary">Edit Profile</button>
    <form style="display: inline;" action="/<%= owner %>/profile/?_method=DELETE" method="POST">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Account</button>
      <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Warning</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete your account?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  <% } %>
</div>

<script>
  let blogOwner = <%- JSON.stringify(owner) %>;
</script>
<script src="/javascript/quill.js"></script>;
<script src="/javascript/profile.js"></script>

<%- include ("../partials/footer") %>